.info {
  background: #151f28;
  top: 33px;
  left: 0;
  width: 100%;
  /* height: 140px; */
  line-height: 24px;
  text-align: left;
  -webkit-box-shadow: 3px 5px 21px 0px rgba(5, 12, 17, 1);
  -moz-box-shadow: 3px 5px 21px 0px rgba(5, 12, 17, 1);
  box-shadow: 3px 5px 21px 0px rgba(5, 12, 17, 1);
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

.info p {
  min-height: 72px;
  color: #90a0ba;
  font-size: 12px;
  margin: 0;
}

.inside {
  padding: 12px 10px;
  cursor: pointer;
  color: #337ab7;
  text-decoration: none;
}

.title-bhd {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
  min-height: 48px;
}

.btn--location {
  color: #ffffff;
  background: #263247;
  font-size: 12px;
  display: block;
  height: 30px;
  line-height: 32px;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 2;
  -webkit-box-shadow: 8px 14px 16px 0px rgba(32, 32, 32, 0.32);
  -moz-box-shadow: 8px 14px 16px 0px rgba(32, 32, 32, 0.32);
  box-shadow: 8px 14px 16px 0px rgba(32, 32, 32, 0.32);
  transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -webkit-transition: 0.4s ease all;
}

.btn--location i {
  color: #ffffff;
  /* background: #ff9125; */
  font-size: 16px;
  line-height: 28px;
  vertical-align: top;
  padding-right: 8px;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.btn--location i::before {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  vertical-align: top;
}
