.list--promos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.bhd-container-scroll {
  display: flex;
  justify-content: center;
}

.title--promotion {
  margin-top: 30px;
}

.title--promotion ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.title--promotion ul li {
  display: inline-block;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.title--promotion ul li span {
  padding: 0 16px 0 14px;
  color: #eaeaea;
}

.title--promotion ul li h3 {
  font-size: 31px;
  font-weight: 200;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.title--promotion ul li h3:hover {
  color: #d4dd29;
  border-bottom: 1px solid #d4dd29;
}

.container-promotion {
  position: relative;
  z-index: 20;
}

.tabPromoActived {
  color: #d4dd29;
  border-bottom: 1px solid #d4dd29;
}

.list-events {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
}
